@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    gap: 25px;
    padding: 30px 40px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product-card {
    width: 250px;
}
.product-card img {
    margin-bottom: 22px;
    width: 100%;
    border-radius: 10px;
}
.product-card button {
    padding: 5px 25px;
    border-radius: 20px;
}
.card {
    width: 300px;
}