@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    gap: 25px;
    padding: 30px 40px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    width: 250px;
}

.product-card img {
    margin-bottom: 22px;
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.product-card button img {
    width: 18px;
    height: 18px;
    margin-bottom: 0;
}

.cart {
    /* max-width: 30em;
    max-height: 30em; */
    width: 100%;
    height: 100vh;
    padding: 10px 20px;
    /* background-color: red; */
}
.cart .carbon-neutral {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.cart .confirm-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.card-btn {
    border: 1px solid black;
    border-radius: 50%;
    width: 10%;
    height: 2%;
    cursor: pointer;
}