@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    gap: 25px;
    padding: 30px 40px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    width: 250px;
}

.product-card .product-image {
    margin-bottom: 22px;
    width: 100%;
    border-radius: 10px;
}
.product-card .product-image.selected {
    border: 1px solid red;
}

.product-card button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.product-card button img {
    width: 18px;
    height: 18px;
    margin-bottom: 0;
}

.cart {
    width: 100%;
    height: 100vh;
    padding: 10px 20px;
}
.cart .carbon-neutral {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
}
.cart .confirm-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.items-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}
.items-wrapper img{
    width: 15%;
}
.cart-btn {
    padding: 2px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.order-confirmed {
    max-width: 350px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
}
.order-confirmed-items .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    border-bottom: 1px solid gray;
}
.order-confirmed-items .container img{
    width: 80%;
    padding-left: 5px;
}
.order-confirmed-items .confirm-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.order-confirmed-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.order-confirmed .confirm-wrapper {
    margin: 10px auto;
    padding: 20px;
    border-radius: 25px;
}
.order-confirmed .confirm-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}